@charset "ISO-8859-1";
body {
	color: #566787;
	background: #e4e4e4;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}
.table-wrapper {
	padding: 20px 25px;
	margin: auto auto;
	border-radius: 3px;
	width: 500px;
}
.table-title {
	padding-bottom: 15px;
	background: #505050;
	color: #fff;
	padding: 16px 30px;
	margin: -20px -25px 10px;
	border-radius: 8px 8px 0 0;
}
.table-footer{
	padding-bottom: 0px;
	background: #505050;
	color: #fff;
	padding: 16px 0px;
	margin: 15px -25px -20px;
	border-radius: 0 0 8px 8px;
}
/* */
.table-footer .btn-group {
	float: right;
}
.table-footer .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 150px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 2px;
	border: none;
	outline: none !important;
}
.table-footer .btn i {
	float: right;
	font-size: 21px;
	margin-right: 5px;
}
.table-footer .btn span {
	float: left;
	margin-top: 2px;
}
/* */
.table-title h2 {
	margin: 20px 0 0;
	font-size: 24px;
}
table.table tr th, table.table tr td {
	border-color: #6400A0;
	padding: 12px 15px;
	vertical-align: middle;
}
.btn-opciones{
	background-color: transparent; 
	border: transparent; 

  	font-size: 12px;
  	text-align: center;
  	font-weight: 700;
}
/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}
.modal form label {
	font-weight: normal;
}