@charset "ISO-8859-1";

 body {
        color: #566787;
		background: #f5f5f5;
		font-family: 'Varela Round', sans-serif;
		font-size: 13px;
	}

.table-wrapper {
        background: #EEAA00;
        padding: 20px 25px;
        margin: auto auto;
		border-radius: 3px;
	    max-width: 430px;
    }
.table-title {        
		padding-bottom: 15px;
		background: #505050;
		color: #fff;
		padding: 16px 30px;
		margin: -20px -25px 10px;
		border-radius: 3px 3px 0 0;
    }

.table-footer{
    padding-bottom: 0px;
    background: #505050;
    color: #fff;
    padding: 16px 0px;
    margin: 15px -25px -20px;
    border-radius: 3px 3px 0 0;
    }
    
.table-footer .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 150px;
    margin-left: 20px;
    margin-right: 20px;    
    border-radius: 2px;
    border: none;
    outline: none !important;  
  }

.table-title h2 {
	margin: 20px 0 0;
	font-size: 24px;
	}   