@charset "ISO-8859-1";
body {
	color: #566787;
	background: #e4e4e4;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}
.table-wrapper {

	background: url(images/pincelPaciente.jpeg) repeat top center;
	padding: 20px 25px;
	margin: auto auto;
	border-radius: 3px;
	width: 500px;
}
.table-title {
	padding-bottom: 15px;
	background: #505050;
	color: #fff;
	padding: 16px 30px;
	margin: -20px -25px 10px;
	border-radius: 8px 8px 0 0;
}
.table-footer{
	padding-bottom: 0px;
	background: #505050;
	color: #fff;
	padding: 16px 0px;
	margin: 15px -25px -20px;
	border-radius: 0 0 8px 8px;
}
/* */
.table-footer .btn-group {
	float: right;
}
.table-footer .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 150px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 2px;
	border: none;
	outline: none !important;
}
.table-footer .btn i {
	float: right;
	font-size: 21px;
	margin-right: 5px;
}
.table-footer .btn span {
	float: left;
	margin-top: 2px;
}
/* */
.table-title h2 {
	margin: 20px 0 0;
	font-size: 24px;
}
table.table tr th, table.table tr td {
	border-color: #6400A0;
	padding: 12px 15px;
	vertical-align: middle;
}
.main-section{
	width:80%;
	margin:0 auto;
	text-align: center;
	padding: 0px 5px;
}
.dashbord{
	width:95%;
	display: inline-block;
	background-color:#34495E;
	color:#fff;
	margin-top: 50px; 
}
.icon-section i{
	font-size: 30px;
	padding:10px;
	border:1px solid #fff;
	border-radius:50%;
	margin-top:-25px;
	margin-bottom: 10px;
	background-color:#34495E;
}
.icon-section p{
	margin:0px;
	font-size: 20px;
	padding-bottom: 10px;
}
.detail-section{
	background-color: #2F4254;
	padding: 5px 0px;
}
.dashbord .detail-section:hover{
	background-color: #5a5a5a;
	cursor: pointer;
}
.detail-section a{
	color:#fff;
	text-decoration: none;
}
.dashbord-green .icon-section,.dashbord-green .icon-section i{
	background-color: #00c29c;
}
.dashbord-green .detail-section{
	background-color: #009e7f;
}
.dashbord-orange .icon-section,.dashbord-orange .icon-section i{
	background-color: #2e8b57;
}
.dashbord-orange .detail-section{
	background-color: #297a4d;
}
.dashbord-red .icon-section,.dashbord-red .icon-section i{
	background-color:#ff6482;
}
.dashbord-red .detail-section{
	background-color:#ff476b;
}

.btn-opciones{
	background-color: transparent; 
	border: transparent; 

  	font-size: 12px;
  	text-align: center;
  	font-weight: 700;
}
